// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background-color: rgb(20,20,20);
}

::-webkit-scrollbar-thumb {
    background: rgb(28,28,28);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(28,28,28);
}

::-webkit-scrollbar-corner {
	 background: rgb(20,20,20);
 }

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}
.title-bar {
	border: none;
}

atom-pane {
  // border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}
